$icon-font-path: "fonts/";
$fa-font-path: "fonts";
$sky-icon-font-path: "fonts/";

@import "../../bower_components/sky/scss/_sky.scss";
@import "../../bower_components/sky/scss/_icons.scss";

.ma-overview-artists-artist-img {
    width: 125px;
}

.ma-overview-albums-album-img {
    width: 100px;
}

.ma-overview-artists-artist-name {
    font-size: $font-size-xl;
}

.ma-grid-cell-list {
    padding: 0;
    
    li {
        list-style-type: none;
    }
}